<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
        <TestSessionTimeout>20000</TestSessionTimeout>
    </RunConfiguration>
    <TcUnit>
        <Target>127.0.0.1.1.1</Target> 
        <CleanUpAfterTestRun>true</CleanUpAfterTestRun>
    </TcUnit>
</RunSettings>
